body {
  background-color: #c2e4f4;

}

h1 {
  color: rgb(43, 46, 48);
  font-size: 40px;
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
